@{
    Page.Title = "About";
}
<link href="~/Content/About.css" rel="stylesheet" type="text/css" />

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Olympian Radio Website</h2>
</hgroup>

<article>
    <p>
        Earlier I was approuched to assist the Radio Club setting up their equipment and getting them to done.
        During this time a lot of behind the scene work is going on. With the assistance of the IT Department of the Olympic College,
        two servers where installed along with network connections. All of the hardware is now on site and being installed and tested.
        This page started out to be the initial page for the OC Radio and the requirements have bloomed. While the full site
        will not be developed here, a great portion of the foundation will. 
    </p>
    
    <p> The goal of Olympian Radio is to voice the opinions of its Students, Staff, and Facility members in an informing and entertaining format. There is a presentation to the board of trusties from the Olympian on the 16th of November and presently Olympian Radio is scheduled for its betta broadcasting to begin November 28th, 2016.
        The look and feel of the site will conform to the Olympic College layout and the client’s needs. The site will work with the current browser standards using html5/css3.
    </p>

    <p>
        The site will contain:
        A client panel that lets them enter data to become a registered user or sign in as a guest.  Clients will be able to rate content of the site using a comment area or other means. (Thumbs up/down).
        An admin panel to add/remove podcasts and other content to the site. This will be available only to certain users.
        The database will contain at a minimum registered member data, guest log-in data, a playlist of podcasts available.
    </p>

    <p>
        An initial meeting to begin the design phase of this site was held on Thursday, October 6th. The wireframe, some color
        and the scope is discussed. The next meeting with the client is scheduled and all present work will be reviewed.

    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Bryn Mulligan
    </p>
    <ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/About">About</a></li>
        <li><a href="~/Contact">Contact</a></li>
    </ul>
</aside>