@{
    Page.Title = "Blended";
}
<link href="~/Content/BlendedMag.css" rel="stylesheet" type="text/css" />

<aside class="blendedImg">

    <img src="~/Images/Blended/Blended-Logo.png" style="border:1px solid green;" />

</aside>

<section id="blurb">
    <p><strong><italic>Blended</italic></strong> is the student-run Literary Arts Magazine of the Olympic College;
        made up exclusively of the submissions by Olympic College Students....something like that
        with a photo or ?
    </p>
</section>

@*
<p>Add three buttons to select:</p>
<p> Submit work for publishing for authors</p>
<p> View Current Mag</p>
<p> Contact this org.</p>
    <body>
        <p>Put a blurb here about blended. </p>
        <p>Art is a universal form of expressiong our existence be it through visual, aural,
        or other means. Art transcends all boundries and allows us to cross the lines
        of comventionality and conformity. Art blends together who we are, what we think,
        and what talents we possess. (and thats why we program, right? !, anywhat....)</p>
        <p>Olympic College is a true blend as well - vibrant mix of cultures, ages, backghrounds
        and talents of three unique campuses.</p>

        <p> To give voince to the students of Olympic College, we have created Blended, a 
        student run Literary Arts Magazine. THis magazine includes fiction, creative non-fiction
        poetry, photography,fienart and digitalare, music and film</p>

        <p>something like that.</p>
    *@
    </body>
</html>
