@{
    Page.Title = "Contact";
}
<link href="~/Content/Contact.css" rel="stylesheet" type="text/css" />




@*Move all css to proper stylesheet when some of the layout is established. Bryn 10/06*@
@*  *@

<section class="contactPic">
 <img src="~/Images/ContactImages/DSC_8379.jpg" />
</section>

<section class="ContactLayout">


    <section class="contact">

       
        <p id="contactTitle"><strong>The Olympian Advisor</strong></p>
        <p id="contactName">Lynn Hovde</p>
        <p id="contactPhone">(360) 774 - 6788</p>
        <p id="contactEmail"> <a href="mailto:lhovde@olympic.edu">lhovde@olympic.edu</a></p>
        <p id="contactSpacer"><br/></p>

        
        <p id="contactTitle"><strong>General Manager</strong></p>
        <p id="contactName">Kyle Broussard</p>
        <p id="contactPhone">(360) 649-8060</p>
        <p id="contactEmail"><a href="mailto:kylej.broussard@gmail.com">kylej.broussard@gmail.com</a></p>
        <p id="contactEmail"><a href="mailto:kbroussard@olympic.edu">kbroussard@olympic.edu</a></p>
        <p id="contactSpacer"><br /></p> 
       
       
        <p id="contactTitle"><strong>Director of Public Relations</strong></p>
        <p id="contactName">Joshua Hemphill</p>
        <p id="contactPhone">(360) 555-5555</p>
        <p id="contactEmail"><a href="mailto:jhemphill@student.olympic.edu">jhemphill@student.olympic.edu</a></p>
        <p id="contactSpacer"><br /></p>

       
        <p id="contactTitle"><strong>Editor-in-Chief</strong></p>
        <p id="contactName">Erin Howard</p>
        <p id="contactPhone"></p>
        <p id="contactEmail"></p>
        <p id="contactSpacer"><br /></p>
        <p id="contactSpacer"><br /></p>
        <p id="contactSpacer"><br /></p>
        
        <p id="contactTitle"><strong>Financial Director</strong></p>
        <p id="contactName">Travis Phillips</p>
        <p id="contactPhone">(360) 204-4619</p>
        <p id="contactEmail"><a href="mailto:tphillips@olympic.edu">tphillips@olympic.edu</a></p>
        <p id="contactEmail"><a href="mailto:taphil@live.com">taphil@live.com</a></p>
        <p id="contactSpacer"></p>
      
        <p id="contactTitle"><strong>Copy Editors:</strong></p>    
        <p>None at Present</p>
        
        <p id="contactTitle"><strong>Photographer:</strong></p>
        <p id="contactName">Joseph Criswell</p>
        <p id="contactPhone">(360)774-6345</p>
        <p id="contactEmail"><a href="mailto:jcriswell@student.olympic.edu">jcriswell@student.olympic.edu</a></p>
        
    </section>


