@{
    Page.Title = "Home Page";
}
<img src="~/Images/Default/DSC_9397.JPG" />

<audio>
    <source src="~/Content/Music/Yes/11 Dangerous.mp3">YES - Dangerous mp3</>    
</audio>

<audio controls="controls">
    <source src="~/Content/Music/Yes/11 Dangerous.mp3">YES - Dangerous mp3</>
</audio>

<h4>There is some stuff here</h4>
