<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <p>Add something like: </p>
        <p>THe Olympian is made up of Olympic College students from all sorts of backgrounds 
        and are always accepting new volunteers and workers. If you would like to submit your work,
        become a volunteer, ask about a job, or ask any questions feel free to:</p>

        <p> Call: (360) 475-7690</p>
        <p>Visit: Tech Building Room 101</p>
        <p></p>
        <p> or send and email to: somebody@olympic.edu</p>
        <p></p>
        <h5> We are currently looking to fill postions of the students graduating</h5>


       <p> INSERT A CONTACT FORM FOR SUBMITION HERE</p>
        <p>TRACK ALL SUBMISSIONS IN DB FOR FUTURE REFERANCE</p>
        <p> CREATE TRIGGER TO AUTOSEND ANY SUBMITIONS TO ? WITH SQL SERVER VIA EMAIL</p>
        <p>Create a page for this too......</p>
        <img src="~/Images/GetInvolved/Advertising.jpg" alt="Advertizing" />

    </body>
</html>
