@{
    Page.Title = "Newspaper";
}
<link href="~/Content/Newspaper.css" rel="stylesheet" type="text/css" />

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Olympian Radio Website</h2>
</hgroup>
<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <p>Put a blurb here about the newspaper published for the OC...possibly use db to select articles or something 
        like that. This may turn into a dropdown box to select one of the following:
        </p>
        <p>Articles</p>
        <p>Movie Reviews</p>
        <p>Comics</p>
        <p>The Olympian Library - Archives</p>
        <p>Sports</p>
        <p>Other</p>

        <p> Then the page is updated with the selection. </p>
    </body>
</html>
