@{
    Page.Title = "DevNotes";
}



<h4>
    Edited by Bryn Mulligan 2016!!XX<br />

</h4>

<h4>
    Edited by Bryn Mulligan 20161026<br />


</h4>


<h4>
    Edited by Bryn Mulligan 20161025<br />
    Met with client. Its been 10 days or so since I worked on this. Way to long! Keep trying to do so and am 
    interupted continuesly during the day. Going back to night schedule for programming. Have added a mp3 control
    and am now determining how to get it to play even when a page is switched. Thought it would be part of the
    SiteLayout.cshtml and remembered its not a base, but an actual page. Will look at PageStart.cshtml uses.

</h4>

<h4>
    Edited by Bryn Mulligan 20161014<br />
    Corrected some spelling errors. Wanting to learn about mixing different margin types and when is the best
    time to use them. The data entry form scrunches when the page is resized. I don't mind if the page does, 
    just not the fields in the submition box.....*sigh* research i will never do....

</h4>

<h4>
    Edited by Bryn Mulligan 20161012pm<br />
    Ready for another round. Formating the Lab 3 form for viewing with style sheet. Starting with StudentApplications.css
    I'm at a comfortable spot with it after about 3 hours. I revisited html and working with css sheets. I can see many ways 
    to consolidate what I have now. Both on the local forms and things that are fleshing out for the site.css form. The 'style'
    of the site is beginning to show of its own accord. There is LIFE! Beautiful.
    Now for the display site. Won't be as fancy...beginning to think about the ask one/answer one problem.....really don't know
    anything either way yet... no knowledge means saying "IDK" and can't do that.....goes against my being....such is the process
    of education!
</h4>


<h4>
    Edited by Bryn Mulligan 20161012am<br />
    Begin homework assignment layout. completed minimun task in 3 hours with no html formatting. Found that the post 
    uses the 'name=' attribute to pass data fairly quickly as i used and esle{"nothing passed"}. I knew something was
    passed, just not what. 30 minutes on that. curious to know if the page recieves a null or emptly....depends on language?
    not important yet. Also curious of the page access to the item passed. Is it global to the page? local to the nest?
    If the value is local to the nest,and i want it to be available to the page, how do I promote it? How do I tell what 
    program I'm using? they both have the same identifier (ampersand).....IDK but it would be nice to say C# or Razor and 
    not confuse either....maybe Razor, being the output html engine is only used for conversion so all code is C#....I don't
    think I've ever completed an assignment this early!..... now for the formatting, should take another couple of hours.
    I guess I'm not done yet then...it will have to wait till tomorrow.

</h4>

<h4>
    Edited by Bryn Mulligan 20161011<br />
   reviewed directions for Lab 3. not much energy today. Thinking of pages that have data to transfer and whioch one 
    would be easiest to do first to meet min requirements to be on time, then continue development until time to deliever.
    started Kan Ban Board. Re-infected with local cold going around. 1 hour work 2 hours wasted sitting here in a daze errr
    reviewing work to date! Started working on Blend page. Input requests better heading declaration. Good input from outside
    sources.      
</h4>
<h4>
    Lab 3 <br />
    excerpt from assignment.....
    Forms are a big deal — they bring a website to life, getting input from the user for a tailored experience in the app.
    Make a 2-page site, that has a form on one page and a second page that is the target of the form's action. You can either do this within the scope of your prototype, or start from an empty web-site if desired (if so, use an appropriate _SiteLayout.cshtml with a common look-and-feel for the two pages). Note that the Programming Policy applies to your HTML as well as your C# -- any code you write.
   
     The form collects data from the user and routes the form submission to the second page.
    The second page pulls the form data out of the Request object and displays what was submitted in a well-formed HTML result.
 
       You can use either GET or POST as the action, since the target page is only used to process form results. It will not need to check IsPost, it can assume there is a Request with the values available.
    Make your form be something you might want to collect data about, such as movies, a bucket list, songs, goals, magic cards, pokemon, flowers, birds, yarns, or beers. It should collect at least 3 pieces of information, and can use any form field types to do so
    The display page should format the data into HTML rendered text, not into a form.
  
      Your project will eventually need to collect data from the user for processing, so you may want to make your form be something relevant to your project (even if you don't use your project in VS to do this).
    ...end
</h4>


<h4>
    Edited by Bryn Mulligan 20161010<br />
   found a point on the contact page that I'm comfortable with for now. 2 hours. Reviewed current work with cleint,
    discussed upcoming schedule, creation of FB page for internal communications to speed up conversations. Discussed the 
    creation of a paid position to manage web site. Gonna have to start letting go of my software emotionally so that I can
    give it to another for mainenence and upgrades in the future. No date given. Verified that this work will be used as
    the foundation of web-site for the Olympian. New name of orginization soon to be Ranger News. Change site Title to reflect
    new org name. Request contact with Photographer, request contact with Edidtor for content.  6 hours.
</h4>
<h4>
    Edited by Bryn Mulligan 20161008<br />
    should never have put Microsofts code back in! finally have a header I like.....need to redo the register and log-in forms for some
    reason.....8 or so hours. Learned a lot about how things connect.....
</h4>

<h4>
    Edited by Bryn Mulligan 20161007<br />
    2 hours trying to figure out how the SiteLayout affects
    all the pages of the site. Just trying to change the background color for the
    main body of all pages. Might be easier to just trash the template sometimes. The template
    seems to have way to many subdivisions. There seems to be no headers section when using
    razor unless its stated as an absolute value. All the pages are body, even tho its not stated
    in on html page....this is a product of Razor engine? I think this is from the render statement
    in the Sitelayout.

    Another two hours and i copied all the page items to notepad and deleted all content to determine
    WTF was auto populated by the sitelayout page. Might do the same with the Site.css file too.
    I have an 8088 that renders faster than this IDE sometimes. Quicker to stop and restart the project.

    Another hour....still trying to center the Site Title on page and can't find who is stopping it.
    deleted all content of Site.css......Site.css only affects the Title, register, log-in and Nav Items
    all items function correctly. Site Title is in the center, as directed.

    Going to delete all items on SiteLayout.schtml to see what it does...starting to get frustrated.
    Crashed App....Inserted head...still crashed....requests for RenderBody called...inserted just  RenderBody()
    and it runs....inserted header, body,footer.....moved RenderBody() above footer as it renders all items from called page
    at the location called.

</h4>
<h4>
   Edited by Bryn Mulligan 20161006<br/>
    4 hours to create pages and insert text - easy </h4>






